<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="latitude" value="21.03"/>
		<add key="longitude" value="105.85"/>
		<add key="Altitude" value="10"/>
		<add key="AddresstoSend" value="192.168.1.26"/>
		<add key="PortSend" value="1000"/>
		<add key="PortReceive" value="1000"/>
		<add key="AziServoCom" value="COM8"/>
		<add key="EleServoCom" value="COM9"/>
		<add key="EncoderCom" value="COM3"/>
		<add key="ModbusBaud" value="19200"/>
		<add key="EncoderBaud" value="115200"/>
		<add key="AziHomeRawDeg" value="0"/>
		<add key="EleHomeRawDeg" value="0"/>
		<add key="AziHomeDeg" value="0"/>
		<add key="EleHomeDeg" value="0"/>
		<add key="DefaultRpm" value="300"/>
		<add key="MaxRpm" value="2000"/>
		<add key="Acceleration" value="100"/>
		<add key="Deceleration" value="100"/>
		<add key="AziPidKp" value="20"/>
		<add key="AziPidKi" value="0"/>
		<add key="AziPidKd" value="0"/>
		<add key="ElePidKp" value="20"/>
		<add key="ElePidKi" value="0"/>
		<add key="ElePidKd" value="0"/>
		<add key="PidKp" value="20"/>
		<add key="PidKi" value="0"/>
		<add key="PidKd" value="0"/>
		<add key="TrackingIntervalMs" value="200"/>
		<add key="TrackingToleranceDeg" value="0.2"/>
		<add key="TrackingMinRpm" value="30"/>
		<add key="TrackingMinElevationDeg" value="10"/>
	</appSettings>
</configuration>
