<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="latitude" value="21.03"/>
		<add key="longitude" value="105.85"/>
		<add key="Altitude" value="10"/>
		<add key="AddresstoSend" value="192.168.1.26"/>
		<add key="PortSend" value="1000"/>
		<add key="PortReceive" value="1000"/>
	</appSettings>
</configuration>
